/* Grid Container */
* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  box-sizing: border-box;
}

.container {
  display: flex;
  max-width: 750px;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  width: 750px;
  height: 100px;
  background: rgb(115, 6, 218);
  padding: 15px 5px;
  color: #fff;
}

.leftM {
  width: 150px;
  height: 150px;
  background: rgb(224, 69, 69);
  padding: 15px 5px;
  color: #fff;
}

.rightM {
  width: 150px;
  height: 150px;
  background: rgb(4, 173, 89);
  padding: 15px 5px;
  color: #fff;
}

.main {
  width: 450px;
  height: 250px;
  background: rgb(170, 158, 240);
  text-align: center;
  padding: 15px;
  color: #fff;
}
